{% extends 'base.html.twig' %} {% block title %}inscription{% endblock %} {% block body %}



    <header>
        <h1 class="col-12 bg-light text-center text-dark p-5">
            <div class="text-secondary">INSCRIVEZ VOUS VITE</div>
        </h1>
    </header>

    <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4 p-5 my-5 bg-secondary rounded text-white">

        {{ form_start(registrationForm) }}

        <div class="form-group">{{ form_row(registrationForm.prenom) }}</div>
        <div class="form-group">{{ form_row(registrationForm.nom) }}</div>
        <div class="form-group">{{ form_row(registrationForm.adresse) }}</div>
        <div class="form-group">{{ form_row(registrationForm.telephone)}}</div>
        <div class="form-group">{{ form_row(registrationForm.email) }}</div>
        <div class="form-group">{{ form_row(registrationForm.plainPassword) }}</div>
        <div class="form-group">{{ form_row(registrationForm.agreeTerms) }}</div>

        <div class="row">
            <div class="col-12 text-center">       
            <button class="btn btn-outline-light">Je m'inscris sur ce super site</button>
            </div>
        </div>

        {{ form_end(registrationForm) }}




    </div>

</div>

{% endblock %}