{% extends 'base.html.twig' %}

{% block title %}Outils index{% endblock %}

{% block body %}
    <h1>Outils index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Outil</th>
                <th>Description</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for outil in outils %}
            <tr>
                <td>{{ outil.id }}</td>
                <td>{{ outil.outil }}</td>
                <td>{{ outil.description }}</td>
                <td>{{ outil.image }}</td>
                <td>
                    <a href="{{ path('outils_show', {'id': outil.id}) }}">show</a>
                    <a href="{{ path('outils_edit', {'id': outil.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('outils_new') }}">Create new</a>
{% endblock %}
