{% extends 'base.html.twig' %}

{% block title %}Outils{% endblock %}

{% block body %}
    <h1>Outils</h1>
    
    
    

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ outil.id }}</td>
            </tr>
            <tr>
                <th>Outil</th>
                <td>{{ outil.outil }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ outil.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ outil.image }}</td>
            </tr>
        </tbody>
    </table>

    <div id="map" style="width:800px; height:400px;"></div>

    <a href="{{ path('outils_index') }}">back to list</a>

    <a href="{{ path('outils_edit', {'id': outil.id}) }}">edit</a>

    {{ include('outils/_delete_form.html.twig') }}
    
{% endblock %}
