<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta name="author" content="KILOUKOI">
      <meta name="description" content="Proposition de services a  louer ou vendre  ">
      <meta name="keywords" content="Location d'outils">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

        
        <title>
          KILOUKOI - 
          {% block title %} {% trans %}Bienvenue {% endtrans %}{% endblock %}
        </title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{asset("css/base.css")}}">

        {% block stylesheets %}{% endblock %}

    </head>

    <body>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <footer class="bg-light">
          <div class="container-fluid">
              <div class="row text-center text-dark">
                  <div class="col-md-4 p-5 my-auto">
                      <p>QUELQUES LIENS</p>
                      <p class="dropdown-divider"></p>
                      <ul>
                          <li><a href="{{ path('home') }}">Accueil</a></li>
                        </ul>
                      </div>
                      <div class="col-md-4 p-5 my-auto">
                          <span class="logo"><img src="{{ asset('img/logo1.png') }}" alt="logo KILOUKOI"></span>
                      </div>

                    <div class="col-md-4 p-5 my-auto">
                        <p>COORDONN&Eacute;ES</p>
                        <p class="dropdown-divider"></p>
                        <p>{{ contact_nom }}</p>
                        <p>{{ contact_adresse }}</p>
                        <p>{{ contact_ville}}</p>
                        <p>{{ contact_telephone }}</p>
                        <p>{{ contact_email }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <p>{{ copyright }}</p>
                    </div>
                </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    </body>
</html>
